/node_modules
/public/hot
/public/images_kelas
/public/images_kupon
/public/images_partner
/public/images_trx
/public/logo_bank
/public/images_profil
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
